<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Francis Villasmil</h1>
              <h3>Director & Writer</h3>
          </div>
      </div>
  </div>

  <div class="main"></div>
    
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://francisvillasmil.com/about">
                          About Me
                      </a>
                  </li>
                  <li>
                      <a href="https://francisvillasmil.com/reel">
                          Reel
                      </a>
                  </li>
                  <li>
                      <a href="https://francisvillasmil.com/gallery">
                          Photo Gallery
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/gilricardo-com/francisVillasmil/blob/41dd161354a749f58c28500e2da4bd9163b9cd3b/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Designed & Coded by
              <a href="https://www.gilricardo.com" target="_blank">Francis Villasmil</a>
          </div>
      </div>
  </footer>
</div>
